<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Polymaps examples</title>
  <meta name="description" content="Polymaps examples">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../libraries/polymaps/css/example.css">
  <link rel="stylesheet" href="../libraries/polymaps/css/main.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Playground</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../index.html">Mapas</a></li>
        <li class="active">Ejemplos Polymaps</li>
      </ol>
    </div>
    <h3>Mapas con polymaps.js</h3>
    <div class="row">
      <div class="col-md-6">
        <div id="example1"></div>
      </div>
      <div class="col-md-6">
        <div id="example2"></div>
      </div>
    </div>
    <hr>
    <footer>
      <p>FST2015PM</p>
    </footer>
  </div>
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../libraries/polymaps/polymaps.min.js"></script>
  <script src="../libraries/polymaps/js/examples.js"></script>
</body>
</html>